Package: avedit
Version: 0.1.2-1
Architecture: amd64
Maintainer: JP-Makers <contact@jp-makers.com>
Depends: ffmpeg
Conflicts: avedit
Provides: avedit
Section: utils
Priority: optional
Homepage: https://github.com/JP-Makers/avedit
Description: Avedit is an audio video editor for the terminal
